@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&family=Zen+Kaku+Gothic+Antique:wght@300;400;700&display=swap");
* { margin: 0; padding: 0; box-sizing: border-box; }

html { font-size: 10px; font-family: 'Kumbh Sans', sans-serif; font-family: 'Zen Kaku Gothic Antique', sans-serif; }

body { background: #af68ea; background: linear-gradient(180deg, #af68ea 0%, #6462e7 100%); }

.container { width: 60vw; height: 100vh; margin: 0 auto; display: flex; flex-direction: column; justify-content: center; }

@media screen and (max-width: 500px) { .container { width: 90vw; justify-content: flex-end; position: relative; bottom: 2em; } }

.faq_accordion { width: 100%; height: 600px; border-radius: 24px; display: flex; justify-content: space-between; background-color: #FFF; }

.faq_accordion .box__image { display: flex; flex-direction: row; justify-content: space-between; background: url("../images/bg-pattern-desktop.svg") center center; background-size: contain; position: relative; }

@media screen and (max-width: 500px) { .faq_accordion .box__image { justify-content: center; background-repeat: no-repeat; background-position: center top; margin-top: -9em; } }

.faq_accordion .box__image .image__box { position: absolute; top: 25em; left: -25%; z-index: 1; }

@media screen and (max-width: 500px) { .faq_accordion .box__image .image__box { display: none; } }

.faq_accordion .box__image .image__desktop { overflow: hidden; }

@media screen and (max-width: 500px) { .faq_accordion .box__image .image__desktop { overflow: visible; display: flex; justify-content: center; } }

.faq_accordion .box__image .image__desktop img { width: 110%; height: auto; position: relative; top: 10em; left: -10em; }

@media screen and (max-width: 500px) { .faq_accordion .box__image .image__desktop img { left: 0; top: -2em; width: 80%; } }

.faq_accordion .box__form { display: flex; flex-basis: 50%; flex-direction: column; padding-top: 10em; padding-left: 8em; }

.faq_accordion .box__form h1 { font-size: 4em; }

@media screen and (max-width: 500px) { .faq_accordion .box__form h1 { font-size: 3em; } }

.faq_accordion .box__form .accordion { max-width: 300px; margin-top: 3em; }

@media screen and (max-width: 500px) { .faq_accordion .box__form .accordion { max-width: 250px; margin-top: 0; } }

@media screen and (max-width: 500px) { .faq_accordion .box__form { padding-left: 0; padding-top: 0; align-items: center; } }

@media screen and (max-width: 500px) { .faq_accordion { height: 70%; flex-direction: column; justify-content: flex-start; } }

.accordion { width: 100%; }

.accordion .accordion__cell { display: flex; margin-top: 1em; flex-direction: row; justify-content: space-between; flex-wrap: wrap; font-size: 1.4em; min-height: 2.4em; padding-bottom: .8em; border-bottom: 1px solid #e7e7e9; }

.accordion .accordion__cell .cell__question { width: 90%; }

.accordion .accordion__cell .cell__question:hover { color: #f47c57; }

.accordion .accordion__cell .btn { background: none; border: none; }

.accordion .accordion__cell .btn img { vertical-align: top; cursor: pointer; transform: rotate(0deg); transition: transform .5s ease; }

.accordion .accordion__cell .cell__answer { max-height: 0; transition: max-height .5s ease; width: 100%; margin-top: .8em; order: 2; overflow: hidden; }

.accordion .accordion__cell .cell__answer:target { max-height: 10em; transition: max-height .5s ease; }

.accordion .accordion__cell .cell__answer:target ~ a img { transform: rotate(180deg); transition: transform .5s ease; }

.accordion .accordion__cell .cell__answer:target ~ .cell__question { font-weight: bold; }

@media screen and (max-width: 500px) { .accordion .accordion__cell { font-size: 1.2em; } }
