@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&family=Zen+Kaku+Gothic+Antique:wght@300;400;700&display=swap');

*{ 
    margin: 0; 
    padding: 0;
    box-sizing: border-box; 
}

html{
    font-size: 10px;
    font-family: 'Kumbh Sans', sans-serif;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
}

body{
    background: rgb(175,104,234);
    background: linear-gradient(180deg, rgba(175,104,234,1) 0%, rgba(100,98,231,1) 100%);
}

.container{ 
    width: 60vw;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

 .faq_accordion{
     width: 100%;
     height: 600px;
     border-radius: 12px;
     display: flex;
     justify-content: space-between;
     background-color: #FFF;
     .box__image{
         display: flex;
         flex-direction: row;
         justify-content: space-between;
         background: url("../images/bg-pattern-desktop.svg") center center;
         background-size: contain;         
         position: relative;
         .image__box{
             position: absolute;
             top: 25em;
             left: -25%;
             z-index: 1;
         }
         .image__desktop{
             overflow: hidden;
            img{ 
                width: 110%;
                height: auto;
                position: relative;
                top:10em;
                left: -10em;
            }
        }
     }
     .box__form{
         display: flex;
         flex-basis: 50%;
         flex-direction: column;
         padding-top: 10em;
         padding-left: 8em;
         h1{
             font-size: 4em;
         }
         .accordion{
             max-width: 300px;
             margin-top: 3em;
         }
     }
}


.accordion{
    width: 100%;
    .accordion__cell{
        display: flex;
        margin-top: 1em;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        font-size: 1.4em;
        min-height: 2.4em;
        border-bottom: 1px solid hsl(240, 5%, 91%);
        .cell__question{
            width: 90%;
        }
        .btn{
            background: none;
            border: none;
            img{
                vertical-align: top;
                padding-bottom: .9em;
                &:hover{
                    border: 1px solid salmon;
                }
            }
        }
        .cell__answer{
            display: none;
            width: 100%;
            &:target{
                color: salmon;
                display: block;
            }
        }
    }

}